
body, p, li, ul, nav, header, footer, h1, h2, h3 {
  margin:0;
  padding:0;
font-family: 'Montserrat', sans-serif;
}

/*  ========= HEADER ======= */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 1em auto 0 auto;
  height: 3em;
}
header img {
  height: 50px;
}

header a{
  text-decoration: none;
  color: #282828;
  font-size: .8em;
  font-weight: 300;
}
header a:hover {
  font-weight: 700;
    color: #F15A24;
}

/* === DROPDOWN === */
.dropbtn {
    background-color: none;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 60%;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 5em;
    background-color: #fff;
}
/* Show dropdown menu on hover */
.linkFlex:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 8em;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: gray;
    text-decoration: none;
  }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
      color: #F15A24;
}

/* =========== SLIDESHOW =========== */
#carousel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.minimalistSlideshow{
  position: relative;
  display: block;
  overflow: hidden;
  width: 60vw;
}
.bigFlex {
  display: flex;
  justify-content: center;
}
.bigFlex img {
  height: 28em;
}
figure{
  position: absolute;
  opacity: 0;
  transition: 1s opacity;

}
figcaption{
  position: absolute;
  font-family: sans-serif;
  font-size: .8em;
  bottom: .75em;
  right: .35em;
  padding: .25em;
  color: #808080;
}

figure.show{
  opacity: 1;
  position: static;
  transition: 1s opacity;
}
.next, .previous{
  color: #e6e6e6;
  font-size: 5em;
  opacity: 0.7;
  font-weight: lighter;
}
.next:hover, .previous:hover{
  cursor: pointer;
  opacity: 1;
}
/*  +++++ SECOND ROW +++ */
#secondRow {
  margin: 2em 0;
  display: flex;
  width: 90%;
  margin: 0 auto;
}
#shows, #collections, #publicity {
  display: flex;
  flex-direction: column;
}
/* ==== ABOUT THE ARTIST ==== */

#about {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-top: 2em;
}
#jillPortrait {
  height: 100%;

}
#aboutAbout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 40em;
}
h1 {
  font-family: "Libre-Baskerville", serif;
  font-size: 1.2em;
  letter-spacing: 0.4em;
}
#aboutText {
  font-weight: 200;
  opacity: 0.5;
  font-family: "Open-Sans", sans-serif;
  letter-spacing: 0.03em;
}
#jillWorks {
  display: flex;
  width: 70%;
  justify-content: space-between;
}
