/*  ========= GALLERY TEMPLATE +++++++++++++ */


.thumbnails img {
	max-height: 9em;
	margin-left: 1em;
}

.thumbnails img:hover {
	cursor:pointer;
}

.preview img {
	max-height: 40em;
}

.thumbnailsVert {
  display: flex;
}
.thumbnailsVert img {
  height: 6em;
  margin-right: 1em;
}
.thumbnails{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
#gallery {
  display: flex;
  width: 90%;
  justify-content: center;
  margin: 2em auto;
  max-height: 30em;
}

   /* TEXT DESCRIPTION */
.galleryTitle{
  margin: 2em auto;
  width: 90%;
  color: #383838;
}
.titleStyle {
  letter-spacing: normal;
  font-family: "Open-Sans", sans-serif;
  font-weight: lighter;
  color: #383838;

}
#galleryText{
  font-weight: 200;
  opacity: 0.5;
  font-family: "Open-Sans", sans-serif;
  letter-spacing: 0.03em;
  width: 80%;
  display: flex;
  justify-content: center;
}
.infoBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 16em;
  height: 12em;
  margin-right: 1em;
}
.infoBox p{
  color: #F15A24;
  font-weight: bolder;
}
.boxStyle {
  font-size: 0.75em;
}
.description {
  width: 30em;
  display: flex;
  flex-direction: column;
  border-left: 5px solid black;
}
.description p{
  font-weight: lighter;
  font-size: 1em;
  margin-left: 2em;



}
/* ==== SIGNED FURNITURE ==== */
#galleryVert {
  display: flex;
  flex-direction: column;
}
#signedTitle {
	margin: 2em auto 0.5em auto;
width: 90%;
color: #383838;
}
#openText, #eatText{
	color: gray;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.previewVert img{
  max-height: 20em;
}
.works {
	display: flex;
	justify-content: space-around;
	width: 90%;
	margin: 0 auto;
}
#signed h4 {
	font-weight: 300;
}

/* ==== SIGNED FURNITURE ==== */
#eatCart, #openChest {
	width: 35%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 57em;
}
#galleryVert {
  display: flex;
  flex-direction: column;
}

.centerSquare {
	display: flex;
	width: 21em;
}
.centerSquare p{
	width:
}
.squareStyle {
	display: inline-flex;
	width: 7em;
	padding-top: .15em;
}
.privateCollection {
	font-weight: 100;
	font-style: italic;
	text-align: center;
	width: 25em;
}
.bottomBox {
	display: flex;
	flex-direction: column;
	height: 10em;
	justify-content: space-between;
	align-items: center;
	margin-top: 2em;
}
h5 {
	margin: 1em 0 !important;
	font-size: 1.75em;
  font-family: "Open-Sans", sans-serif;
  letter-spacing: 0.08em;
  width: 80%;
	color: #F15A24;
}

.previewVert img{
  max-height: 20em;
}
