
body, p, li, ul, nav, header, footer, h1, h2, h3 {
  margin:0;
  padding:0;
font-family: 'Montserrat', sans-serif;
}
a{
  text-decoration: none;
}
/*  ========= HEADER ======= */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 1em auto 0 auto;
  height: 3em;
}
header img {
  height: 50px;
}

header a{
  text-decoration: none;
  color: #282828;
  font-size: .8em;
  font-weight: 300;
}
header a:hover {
  font-weight: 700;
    color: #F15A24;
}

/* === DROPDOWN === */
.dropbtn {
    background-color: none;
    border: none;
    /*cursor: pointer;*/
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 60%;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 5em;
    background-color: #fff;
}
/* Show dropdown menu on hover */
.linkFlex:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 8em;
    padding: 0 1em;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: gray;
    text-decoration: none;
  }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
      color: #F15A24;
}

/* =========== SLIDESHOW =========== */
#carousel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.minimalistSlideshow{
  position: relative;
  display: block;
  overflow: hidden;
  width: 60vw;
}
.bigFlex {
  display: flex;
  justify-content: center;
}
.bigFlex img {
  height: 28em;
}
figure{
  position: absolute;
  opacity: 0;
  transition: 1s opacity;

}
figcaption{
  position: absolute;
  font-family: sans-serif;
  font-size: .8em;
  bottom: .75em;
  right: .35em;
  padding: .25em;
  color: #808080;
}

figure.show{
  opacity: 1;
  position: static;
  transition: 1s opacity;
}
.next, .previous{
  color: #e6e6e6;
  font-size: 5em;
  opacity: 0.7;
  font-weight: lighter;
}
.next:hover, .previous:hover{
  /*cursor: pointer;*/
  opacity: 1;
}

hr.divider {
	border-top: 1px solid #8c8b8b;
  border-bottom: none;
  border-left: none;
  border-right: none;
	text-align: center;
  width: 60%;
  margin-top: 1.5em;
}
hr.divider:after {
	content: '§';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #fff;
	color: #8c8b8b;
	font-size: 18px;

	transform: rotate(60deg);
}
/*  +++++ SECOND ROW +++ */
#secondRow {
  margin: 0 auto;
  display: flex;
  width: 90%;
  justify-content: space-between;

}
#shows, #collections, #publicity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#secondRow a{
  /*cursor: pointer !important;*/
  text-decoration: none;
}

/*#secondRow {
  display: grid;
  grid-template-columns: 32% 1.5% 32% 1.5% 32% 1%;
  grid-template-rows: auto 2em auto;
  width: 90%;
  margin: 0 auto;
}
#collections, #shows, #publicity {
  display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
#collections {
   grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#shows {
   grid-column: 3 / 4;
    grid-row: 1 / 2;
}
#publicity {
   grid-column: 5 / 6;
    grid-row: 1 / 2;
} */
h2{
  font-weight: lighter;
  color: #282828;
  margin: 2em 0 1em 0;
}
/* ==== ABOUT THE ARTIST ==== */

#about {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-top: 2em;
}
#jillPortrait {
  height: 100%;

}
#aboutAbout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  min-height: 45em;
}
h1 {
  font-family: "Libre-Baskerville", serif;
  font-size: 1.2em;
  letter-spacing: 0.4em;
}
#aboutText {
  font-weight: 200;
  opacity: 0.5;
  font-family: "Open-Sans", sans-serif;
  letter-spacing: 0.03em;
}


/*  ========= GALLERY TEMPLATE +++++++++++++ */


.thumbnails img {
	max-height: 9em;
	margin-left: 1em;
}

.thumbnails img:hover {
	cursor:pointer;
}

.preview img {
	max-height: 40em;
}

.thumbnailsVert {
  display: flex;
}
.thumbnailsVert img {
  height: 6em;
  margin-right: 1em;
}
.thumbnails{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
#gallery {
  display: flex;
  width: 90%;
  justify-content: center;
  margin: 2em auto;
  max-height: 30em;
}

   /* TEXT DESCRIPTION */
#galleryTitle{
  font-family: 'Montserrat', sans-serif;
  margin: 2em auto;
  width: 90%;
  color: #383838;
}
.titleStyle {
  letter-spacing: normal;
  font-family: "Open-Sans", sans-serif;
  font-weight: lighter;
  color: #383838;

}
#galleryText{
  font-weight: 200;
  opacity: 0.5;
  font-family: "Open-Sans", sans-serif;
  letter-spacing: 0.03em;
  width: 80%;
  display: flex;
  justify-content: center;
}
#infoBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 16em;
  height: 12em;
  margin-right: 1em;
}
#infoBox p{
  color: #F15A24;
  font-weight: bolder;
}
.boxStyle {
  font-size: 0.75em;
}
.description {
  width: 30em;
  display: flex;
  flex-direction: column;
  border-left: 5px solid black;
}
#description p{
  font-weight: lighter;
  font-size: 1em;
  margin-left: 2em;
}
/* ==== SIGNED FURNITURE ==== */
#galleryVert {
  display: flex;
  flex-direction: column;
}
#signed h4{
  margin-left: 4em;
}
.previewVert img{
  max-height: 20em;
}
/* ============= COLLECTIONS ========== */

#collectionsWrapper{
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.collections {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.collections img {
  height: 20em;
}
.collectionsText{
  display: flex;
  flex-direction: column;
}
.collections h2 {
  font-weight:700;
  color: #4d4d4d;

}
.collections h3 {
  color: #F15A24;
  opacity: .8;
}
.collections p{
  color: gray;
  font-weight: lighter;
}
/*   ====== FOOTER ======== */
#designedBy {
  display: flex;
  justify-content: center;
}
footer a{
  color: #FC963D;
}
footer {
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding-top: 2em;
}
footer p{
  color: gray;
  font-size: smaller;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', Arial, sans-serif;
}
footer p:nth-child(2) {
  justify-content: flex-start;
  margin-left: 5px;
}

@media (max-width: 28em){

  footer{
    flex-direction: column;
    padding: 0.5em 0;
  }
  footer p{
    justify-content: center !important;
    align-items: center !important;
    margin: 0;
  }

}

@media (min-width: 29em){
  #nopipe::after {
    content: "|";
    padding-left: 5px;
  }
}
